<% if @question %>
  <div class="question">
    <h1><%= @question.title %></h1>
    <%= erb :"/questions/_favorite" %>
    <span class="question_votes">Votes: <%=@question.votes.count%></span>
    <p class="question_info">Created by: <a href="#"><%=@question.inquirer.username%></a> at <%=@question.created_at%></p>
    <div class="question_body">
    <%= erb :"/votes/_button" %>
    <p><%= @question.body %></p>

  </div>
<% end %>
<% if @question.answers %>
  <div class="answer_container">
	 <%= erb :'/answers/show', layout: false %>
  </div>
<% end %>
<% if @errors %>
  <ul>
    <% @errors.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
<% end %>
<%= erb :"/answers/_new", locals: {question: @question}, layout: false%>
