<h1>Welcome to your profile <%=current_user.username%></h1>

<h2>Your questions: </h2>
<ul>
  <% if current_user.questions %>
    <% current_user.questions.each do |question|%>
      <li><a href="/questions/<%=question.id%>"><%=question.title%></a></li>
    <% end %>
  <% end %>
</ul>

<h2>Your answers: </h2>
<ul>
  <% if current_user.answers %>
    <% current_user.answers.each do |answer|%>
      <li><a href="/questions/<%=answer.question.id%>"><%=answer.question.title%></a></li>
    <% end %>
  <% end %>
</ul>

<h3>Your comments: </h3>
<ul>
  <% if current_user.comments %>
    <% current_user.comments.each do |comment|%>
      <li><a href="/questions/<%=comment.question.id%>"><%=comment.question.title%></a></li>
    <% end %>
  <% end %>
</ul>
