<% if @user %>
  <h1>Welcome to your profile <%=@user.username%></h1>

  <h2>Your questions: </h2>
  <ul>
    <% if @user.questions %>
      <% @user.questions.each do |question|%>
        <li><a href="/questions/<%=question.id%>"><%=question.title%></a></li>
      <% end %>
    <% end %>
  </ul>

  <h2>Your answers: </h2>
  <ul>
    <% if @user.answers %>
      <% @user.answers.each do |answer|%>
        <li><a href="/questions/<%=answer.question.id%>"><%=answer.question.title%></a></li>
      <% end %>
    <% end %>
  </ul>

  <h3>Your comments: </h3>
  <ul>
    <% if @user.comments %>
      <% @user.comments.each do |comment|%>
        <% if comment.commentable_type == "Question" %>
          <li><a href="/questions/<%=comment.commentable.id%>"><%=comment.commentable.title%></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>

  <h3>Your favorite answers: </h3>
  <ul>
    <% if @user.questions %>
      <% @user.questions.each do |question|%>
        <% if question.favorite_answer_id != 0 %>
          <li><a href="/questions/<%=question.id%>"><%=question.title%></a></li>
        <% end %>
      <% end %>
    <% end %>
  </ul>
<% end %>
