<% if @question.answers %>
  <% @question.answers.each do |answer| %>
    <div class="answer">
      <% if logged_in? %>
        <% if @question.inquirer_id == current_user.id %>
          <% if @question.favorite_answer_id != answer.id %>
            <%= erb :'/questions/_favorite' %>
          <% end %>
        <% end %>
      <% end %>
      <p data-answer-id="<%= answer.id %>"><%= answer.body %></p>
      <p>Answered by: <%= answer.responder.username %> on: <%= answer.responder.created_at %></p>

      <div class="answer-comments">
        <% if answer.comments %>
          <% answer.comments.each do |comment| %>
            <%= erb :'/comments/_show', layout: false, locals: {votes: comment.votes.count, body: comment.body, username: comment.commenter.username, created_at: comment.created_at} %>
          <% end %>
        <% end %>
      </div>
    <button id="toggle-a-comment-form" type="button">New Comment</button>
    <div class="answer-comment-form">
      <%= erb :'/comments/_new', layout: false %>
    </div>

  </div>
  <% end %>
<% end %>
